<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1900, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/front/css/main.css" />
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="errors" v-show="errors.length > 0" style="display: none;">
            <b>Пожалуйста исправьте указанные ошибки:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </div>
        <div class="uk-inline">
            <form class="login" method="POST"
                id="app"
                @submit="submit"
                action="/back/login.php"
                >
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label for="username">Username</label>
                        <input class="uk-input" name="username" type="text" v-model="username">
                    </div>
                    
                    <div class="uk-margin">
                        <label for="password">Password</label>
                        <input class="uk-input" name="password" type="password" v-model="password">
                    </div>
                    
                    <div class="uk-margin">
                        <input class="uk-button uk-button-primary" type="submit" value="Login">
                    </div>
                </fieldset>
            </form>
            <div class="uk-overlay-default uk-position-cover" v-show="loggingin"></div>
            <div class="uk-overlay uk-position-bottom uk-dark" v-show="loggingin">
                <p>Logging in...</p>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script data-main="/front/conf" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js" integrity="sha512-vRqhAr2wsn+/cSsyz80psBbCcqzz2GTuhGk3bq3dAyytz4J/8XwFqMjiAGFBj+WM95lHBJ9cDf87T3P8yMrY7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/front/login.js"></script>
</html>